* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.background {
  background-color: black;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.blur {
  backdrop-filter: blur(4px);
  height: 100%;
  width: 100%;
}
.is-absolute {
  position: absolute;
}
.is-absolute-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-top {
  top: 0%;
  left: 50%;
}
.btn-right {
  top: 50%;
  right: 0%;
}
.btn-bottom {
  left: 50%;
  bottom: 0%;
}
.btn-left {
  top: 50%;
  left: 0%;
}
.text-align-center {
  text-align: center;
}
.is-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40%;
  min-width: 400px;
}
.is-hidden {
  display: none;
}
.build-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tst_properties {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 68px);
  align-items: center;
  width: 70%;
  min-width: 390px;
  transition: 0.4s;
}
.tst_square {
  width: 100%;
  height: 120px;
  background-color: whitesmoke;
  border: 2px solid black;
  border-top: 0px;
  border-radius: 0 0 10px 10px;
}
.tst_btn {
  width: 35%;
}
.who-i-am,
.who-about-me {
  width: 400px;
}
.content-size {
  height: 420px;
}

.image-cover {
  object-fit: cover;
  object-position: center;
}
